<app-header></app-header>

<router-outlet></router-outlet>


<div *ngIf="displayText">
  <p>{{text}}</p>
  <p *ngIf="text" class="text-danger">Assurrez vous que personne ne regarde votre écran</p>
</div>
<button class="btn btn-primary" type="button" (click)="onClickInputReinit()">réinitialise</button>
<input type="password" name="text" class="form-control" placeholder="Entrez le mot de passe" [(ngModel)]="text" />

<button class="btn btn-primary" type="button" (click)="onClickButton()">Affiche password</button>

<div *ngIf="cars.length > 0" class="car-list">

  <h2>Les autos</h2>

  <ul>
    <li *ngFor="let car of cars">
      <p [id]="car.id">
        {{car.brand}} {{car.model}} - {{car.color}}
      </p>
    </li>
  </ul>

</div>
